/* Style for the homepage */
*{
  font-family: monospace;
}

.homepage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

/* Style for search container */
.search-container {
  margin-bottom: 20px;
  text-align: right;
}

/* Style for search input */
.search-container input {
  padding: 8px;
  margin-right: 10px;
  font-size: 16px;
}

/* Style for search button */
.search-container button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Style for movie cards */
.movie-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  max-width: 200px;
  text-align: center;
  background-color: #f9f9f9;
}

/* Style for movie posters */
.movie-card img {
  max-width: 100%;
}

/* Style for movie titles */
.movie-card h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

/* Style for movie release dates */
.movie-card p {
  font-size: 0.9em;
  color: #555;
}

.movie-card button {
  padding: 5px;
  font-size: 10px;
  
}

/* Style for search page */
.search-page input {
  margin-right: 10px;
}

a {
  text-decoration: none;
}
